body {
    font-size: 14px;
    font-family: Arial, serif;
    color: #777;
}

.header {
    padding: 15px;
}

.header button {
    font-size: 13px;
}

.header h1 {
    font-size: 32px;
}

.header > .header-title {
    margin: 10px 0 0;
}

.header > .header-title .welcome {
    font-weight: bold;
}

.color-green {
    color: #56A654;
}

.nav-top {
    background-color: #323534;
}

.nav-top .navbar-logo {
    color: #00993D;
    font-weight: bold;
    font-size: 26px;
}

.top-menu a.nav-link, .navbar-toggler span {
    color: #eee !important;
}

.top-menu a.nav-link {
    font-size: 12px;
    font-weight: bold;
}

.navbar-toggler span {
    font-size: 22px;
}

.top-menu li.nav-item {
    margin: 0 5px;
}


ul.main-menu {

}

ul.main-menu li {
    padding: 10px 0;
}

ul.main-menu a {
    color: #999;
}

ul.sub-menu {
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
}

ul.sub-menu li {
    padding: 10px 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #323534;
}

.footer li {
    margin: 0 10px;
    font-size: 20px;
}

.footer li a {
    color: #999;
}